# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
vn/
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
lib/
lib64/
scripts/
pyenv/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.pdb

# Django migrations
*/migrations/*
*/__pycache__/

# Static and media files
staticfiles/
media/
mediafiles/

# Local env files
*.env
.env.*

# Test and coverage results
.coverage
*.cover
*.py,cover
.hypothesis/
.tox/
.nox/
.cache/
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/